# Folders and files to not track
snakemake_profile

# Snakemake logs
.snakemake

#example data
data/CytAssist_FreshFrozen_Mouse_Brain_Rep1_fastqs.tar
data/CytAssist_FreshFrozen_Mouse_Brain_Rep1_fastqs.tar.1
data/CytAssist_FreshFrozen_Mouse_Brain_Rep1_image.tif 
data/CytAssist_FreshFrozen_Mouse_Brain_Rep1_probe_set.csv
data/CytAssist_FreshFrozen_Mouse_Brain_Rep1_tissue_image.btf

probesets/Visium_Human_Transcriptome_Probe_Set_v2.1.0_GRCh38-2024-A.csv
